.hearder{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 106px;
}

.pesquisar {
    width: 42vw;
    height: 45px;
    border-radius: 10px;
    padding-left: 10px;
}

.form {
    display: flex;
    position: relative;
    
}

.button{
    position: absolute;
    top: 10px;
    right: 9px;
    background-color: #FFFF;
    border: none;
}


.main {
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

.adcionar{
   display: flex;
   justify-content: end;
   margin-bottom: 40px;
}


.adcionar button{
    width: 130px;
    height: 31px;
    border-radius: 8px;
    color: #02982C;
    font-size: 15px;
    cursor: pointer;
    background-color: #FFFF;
}
.strong{
    font-size: 18px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    height: 188px;
    justify-content: space-evenly;
    padding-left: 20px;
    align-items: center;
    align-items: start;
}
.img {
    width: 270px;
    height: 188px;
    border-radius: 8px;
}
.h2{
    background-color: #EBEBEB;
    border-radius: 12px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.p{
    width: 70%;
}
.h1{
    font-size: 24px;
    color: #B06100;
}
.contener{
    display: flex;
}

.carrinho {
    padding-top: 4px;
    padding-bottom: 4px;
    border-left: 1px solid  #DBDBDB;
    padding-left: 20px;
    align-self: center;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}
.carrinho button {
    border: none;
    cursor: pointer;
   
}
.btn_editar{
    margin-top: 13px;
    margin-bottom: 13px;
}


@media screen and (max-width: 1149px) {
    .hearder{
        flex-direction: column;
        align-items: center;
    }

    .combo{
        margin-top: 40px;
    }

    .adcionar{
        justify-content: center;
    }

    .main{
        margin-top: 30px;
    }
    .pesquisar{
        width: 70vw;
    }
}

@media screen and (max-width: 844px) {
    .contener{
        flex-direction: column;
        align-items: center;
    }

    .informacoes {
        display: flex;
        flex-direction: column;
        height: 188px;
        width: 100%;
        justify-content: space-between;
        align-self: center;
        align-items: center;
        position: absolute;
        gap: 30px;
        margin-top: 30px;
        transition: 0.5s;
        
        
    }
    .img{
    position: relative;
    width: 100%;
    height: 35vh;
   
    }
    .p{
        width: 410px;
        font-size: 20px;
        text-shadow: 0px 0px 5px oldlace ;
        font-weight: bold;
        
    }
    .h2{
        background-color: inherit;

        
       
    }
    .h1{
        text-shadow: 0px 0px 0px black;
      
    }
    .section{
        flex-direction: column;
        border: 1px solid #DBDBDB;
    }
    
    .carrinho{
        border-left: none;
        flex-direction: row;
        gap: 30px;
        line-height: 20px;
    }
}

@media screen and (max-width: 432px) {
.p{
   width: 90vw;
}
.informacoes{
    transition: 0.5s;
    margin-top: 10px;
    gap:20px
}
}

