.hearder{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 106px;
    gap: 10px;
}

.pesquisar {
    width: 42vw;
    height: 45px;
    border-radius: 10px;
    padding-left: 10px;
}

.form {
    display: flex;
    position: relative;
    
}

.button{
    position: absolute;
    top: 10px;
    right: 9px;
    background-color: #FFFF;
    border: none;
}


.main {
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

.adcionar{
   display: flex;
   justify-content: end;
   margin-bottom: 40px;
}


.adcionar button{
    width: 130px;
    height: 31px;
    border-radius: 8px;
    color: #02982C;
    font-size: 15px;
    cursor: pointer;
    background-color: #FFFF;
}
.strong{
    font-size: 18px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    height: 188px;
    justify-content: space-evenly;
    padding-left: 20px;
    align-items: center;
    align-items: start;
}
.img {
    width: 270px;
    height: 188px;
    border-radius: 8px;
}
.h2{
    background-color: #EBEBEB;
    border-radius: 12px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.p{
    width: 70%;
}
.h1{
    font-size: 24px;
    color: #B06100;
}

@media screen and (max-width: 1149px) {
    .hearder{
        flex-direction: column;
        align-items: center;
    }

    .combo{
        margin-top: 40px;
    }

    .adcionar{
        justify-content: center;
    }

    .main{
        margin-top: 30px;
    }
    .pesquisar{
        width: 70vw;
    }
}