.section{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #FFF;
    margin-left: 250px;
    margin-top: 50px;
    max-width: 70%;
    
}
.main{
    height: 100vh;
}
.h1{
    padding: 20px;
    border-bottom: 1px solid #DBDBDB;
    padding-left: 12px;
    font-size: 30px;
}


