.button {
    width: 270px;
    height: 45px;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 16px;
    
}
.div{
    position: relative;
}

.img {
    position: absolute;
    top: 20px;
    right: 20px;
}
.ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    border: 1px solid;
    border-radius: 10px;
    position: fixed;
    
}
.ul a{
    display: flex;
    width: 270px;
    height: 45px;
    text-decoration: none;
    align-items: center;
    border-top: 1px solid;
    color: black;
    background-color: #F5F5F5;
    padding-left: 20px;
}