@charset "UTF-8";
.imgs{
    display: flex;
    flex-wrap: nowrap;
}
.img1 {
    margin-right: 35px;
    height: 434px;
    width: 270px;
}

.img2 {
    height: 231px;
    width: 270px;
}

.fale_cag {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    color: black;
    margin-right: 3rem;
    padding-bottom: 20px;
    
}
.nome, .email,.contato, .texto {
    position: relative;
    margin-bottom: 2rem;
    overflow-x: visible;
    margin-top: 30px;
}
.nome input[type="text"],
.email input[type="email"], 
.contato input[type="number"] {
    display: flex;
    margin-top: 10px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #ccc ;
    height: 45px;
    width: 470px;
    
}

.textarea {
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 2px ;
    height: 165px;
    width: 470px;
    resize: none;
    border: 1px solid #ccc;
    padding-top: 10px
}
.span {
    position: absolute;
    left: 10px;
    top: 15px;
    opacity: .5;
    pointer-events: none;
    
}
.form input:focus ~ span,
.form textarea:focus ~ span,
.form input:valid ~ span,
.form textarea:valid ~ span{
    transform: translateY(-35px);
    opacity: 1;
    
}
.form{
    overflow-x: visible;
}


.main {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    
    
  
}


.enviar button{
    cursor: pointer;
    margin: 2px;
    background-color: #0057FF;
    border-radius: 5px;
    height: 42px;
    width: 135px;
    border-radius: 10px;
    color: #FFFFFF;

}
.enviar {
    display: flex;
    justify-content: end;
    padding-top: 20px;

}


@media screen and (max-width: 1048px) {
    .main {
        margin: 0;
    }
    .imgs {
        display: none;

    }
}