
.footer {
    background-color: #2B2929;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-bottom: 0;
    position: relative;

}

.logo_links {
    display: flex;
    
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo > img{
    margin-bottom: 5px;
    height: 90px;
    width: 100px;
    margin-left: 10px;
}

.frase {
    margin-top: 150px;
    
}

.p {
    font-family: 'Lobster';
    color: #FFFFFF;
    font-size: 20px;
    
    
}

.p_feitoComAmor {
    color: #FFFFFF;
    
}

.li {
    list-style: none;
    padding-top: 8px;

}
.li > a {

    font-style: none;
    color: #C67E27;
    text-decoration: none;
}

.links {
    margin-left: 40px;
}

.i > a > img{
    padding-right: 35px;
    height: 40px;
    
}
.p_contatos {
    font-family: 'Lobster';
    display: flex;
    justify-content: start;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
}

.heart {
    font-size: 20px;
     color:red;
}

.links {
    padding-left: 20px;
}

@media screen and (max-width: 768px){
    .footer {
        position: relative;
        padding: 0;
        padding: 10px;
        padding-top: 20px;
    }
    .responsive_div {
        display: flex;
        align-content: space-evenly;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .p_contatos {
        display: none;
    }
    .frase {
        padding-top: 35px;
        padding-left: 0;
        padding-bottom: 45px;
        position: absolute;
    }
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .i > a > img{
        display: flex;
        padding-right: 5px;
        align-content: center;
        
        
        
    }
    .p {
        font-size: 15px;
    }

    .links {
        margin: 0px;
        margin-right: 20px;
    }

    .p_feitoComAmor {
        display: flex;
        
    }

    
    
    
}