.h1 {
    padding-top: 54px;
    display: flex;
    justify-content: center;
}
.main {
    margin-top: 21px;
    margin-left: 137px;
    margin-right: 137px;
    margin-bottom: 202px;
}
.div1{
    margin-bottom: 22px;
}

.div2{
   display: flex;
   margin-bottom: 22px;
   align-items: center;
   justify-content: space-between;
}
.div2 p {
    display: flex;
    text-align: start;
    align-items: flex-start;
    text-overflow: clip;
    align-items: center;
    overflow-wrap: break-word;
    width: 70%;
}
.p {
    display: flex;
    float: right;
    font-size: 22px;
    overflow-wrap: break-word;
}



.img {
    height: 336px;
    width: 470px;
    
}

@media screen and (max-width: 1000px) {
    .div2 {
        display: flex;
        flex-direction: column;
        
    }

    .div2 p {
        width: 100%;
    }
    .main{
        margin: 15px 10px 10px 10px;
        padding: 0;
    }
    
}

@media screen and (max-width: 768px) {
    .img{
        display: none;
    }
    .p {
        width: 100%;
    }
    .main{
        margin: 15px 10px 10px 10px;
        padding: 0;
    }
}